body /* Tag selector */ { 
    background-color: wheat;
}

/* Specificity cascade: more-specific selectors override less-specific selectors */

#phone /* ID selector */ {
    color: rgb(255, 255, 255);             /* = #daaa00 */
    background-color: #ffc6f6;  /* = #49176d; */
}

.purple li:first-child /* Class selector combined with ancestor selector and a pseudoclass */{
    color: inherit;
}


.purple li:last-child {
    color: rgb(255, 187, 0) /* Converse purple, but partially transparent (opacity = 0.5) */
}

/* More specific than just ul li */
.purple li /* Class selector combined with ancestor selector */ {
    color: #ffffff;
}

/* More specific than just ul li */
.gold li /* Class selector combined with ancestor selector */ {
    color: #ffffff;
}

.gold li:last-child {
    color: rgb(253, 219, 243)5) /* Converse gold, but partially transparent (opacity = 0.5) */
}

/* More specific than just li */
ul li /* Ancestor selector */ {
    color: rgb(255, 255, 255);
}

/* Not very specific at all, so this just picks up the li's unaffected by the styles above */
li /* Tag selector */ {
    color: rgb(255, 255, 255);
}

/* Inheritance: style data is applied to an element *and* to all its descendants */
.deep /* Class selector */ {
    background-color: rgb(255, 166, 0);
}

/* Inheritance: descendants can override inherited values */
.purple /* Class selector */ {
    background-color: #ffc6f6;
}

/* Inheritance: descendants can override inherited values */
.gold /* Class selector */ {
    background-color: #ffa600;
}

/** POPUP MENU **/
/* Hidden when not in use */
.popup li {
    display: none;
}

/* Make it show up when wanted */
.popup:hover li { /* :hover pseudoclass in the selector */
    display: list-item;
}

.yes {
    font-family: "Georgia", 'New Century Schoolbook', serif;
}

.no {
    font-family: "Garamond", serif;
}

/** FONT FAMILIES **/
/* The browser will use the first family in the list that's available.
   Always end your list with one of the generic families, so there's
   *something* the browser can use. */
.happy {
    font-family: "Western", "Comic Sans", fantasy;
}

.up {
    font-family: 'Zapf Chancery', cursive;
    text-decoration: underline;
}

.down {
    font-family: "Courier", monospace;
    text-decoration: line-through;
}

.lots {
    font-weight: bolder;
}

.plenty {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bolder;
}

.want {
    font-family: 'Helvetica Narrow', 'Arial Narrow', sans-serif;
    font-weight: lighter;
}

/* Font Style */
.booktitle {
    font-style: italic;
}

/* Font variant */
.acronym {
    font-variant: all-small-caps;
    font-size: larger;
}

/* Text property (others are used above) */
.poetry {
    white-space: pre-line;
    margin-bottom: 0;
}

.direction {
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
}

.attribution {
    margin-top: 0;
    padding-top: 0;
    text-indent: 15%;
    font-weight: lighter;
    font-size: smaller;
}

.transform {
    text-transform: capitalize;
}

/** LIST STYLES **/
.styled-ul {
    list-style-type: circle;
}

.styled-ul li:first-child {
    list-style-type: disc;
}

.styled-ul li:last-child {
    list-style-type: square;
}

.styled-ol li:first-child {
    list-style-type: upper-roman;
}

.styled-ol li:nth-child(2) {
    list-style-type: lower-roman;
}

.styled-ol li:nth-child(4) {
    list-style-type: upper-alpha;
}

.styled-ol li:nth-child(5) {
    list-style-type: lower-alpha;
}

.styled-ol li:nth-child(6) {
    list-style-type: none;
}
.styled-ol li:nth-child(7) {
    list-style-type: decimal-leading-zero;
}

/* Make outlines */
ol.outline {
    list-style-type: upper-roman;
}

.outline > li > ol {
    list-style-type: upper-alpha;
}

.outline > li > ol > li > ol {
    list-style-type: decimal;
}

.outline > li > ol > li > ol > li > ol {
    list-style-type: lower-alpha;
}

.outline > li > ol > li > ol > li > ol > li > ol {
    list-style-type: lower-roman;
}